@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
}

body, html { 
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

a {
	color: unset;
	text-decoration: none;
	font-family: unset;
}

#root {
    width: 100%;
	height: 100%;
}

.app {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
}

.main {
	margin-top: 64px;
	position: relative;
}

.main-menu {
	border: 1px solid black;
	width: 260px;
	height: 100%;
	margin-top: 64px;
}

.main-content {
	border: 4px solid red;
	flex-grow: 1;
	height: 100%;
}

#main-box {
	position: relative;
}

.footer {
	width: 100%;
	border: 1px solid black;
}

#result {
	height: 100%;
	width: 100%;
}

#starfield {
  	width:100%;
  	height:100%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}
#gamecontainer {
    width:100%;
  	height:100%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}
#gamecanvas { 
    width: 800px;
    height: 600px;
}
#info {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* ------- CHALLENGE --------- */

.main-challenge {
	display: flex;
	width: 100%;
	height: 100%;
}

.main-stages {
	width: 250px;
	min-width: 250px;
	/* padding: 2em; */
}

.main-stages .steps-title {
	font-weight: bold;
	color: #444;
	padding-left: 24px;
	padding-top: 24px;
}

.pratice-challenge {
	flex-grow: 1;
	padding: 24px;
	height: 100%
}

.pratice-challenge .container {
	display: flex;
	flex-flow: column;
	min-height: 100%;
}

.pratice-challenge .title {
	font-family: Ubuntu;
	font-weight: bold;
	font-size: 2em;
	color: #444;
	padding-bottom: 1em;
	width: 85%;
	flex: 0 1 auto;
}

.pratice-challenge .subtitle {
	font-family: Ubuntu;
	font-weight: bold;
	font-size: 1.2em;
	color: #444;
	padding-bottom: 20px;
	flex: 0 1 auto;
}

.pratice-challenge .description {
	text-align: justify;
	font-family: Ubuntu;
	font-size: 0.9em;
	flex: 0 1 auto;
}

.pratice-challenge .expected-result {
	border: 1px solid black;
	width: 300px;
	max-height: 220px;
}

.pratice-challenge .pratice {
	border: 1px solid rgba(33,36,44,0.16);
	margin-top: 1em;
}

.pratice-challenge .pratice .editor {
	border: 1px solid rgba(33,36,44,0.16);
	min-height: 450px;
}

.pratice-challenge .pratice .result {
	border: 1px solid rgba(33,36,44,0.16);
	min-height: 450px;
	outline: none;
}

.pratice-challenge .pratice .controls {
	padding: 0.5em;
	height: auto;
}

.pratice-challenge .pratice .controls .dots {
	padding: 0;
	background: none;
}

.code-highlighter {
	display: inline;
	margin: 0 5px;
	font-weight: bold;
	background-color: #e1e1e1;
	padding: 1px 4px;

}