@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
}

body, html { 
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a {
	color: unset;
	text-decoration: none;
	font-family: unset;
}

#root {
    width: 100%;
	height: 100%;
}

.app {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
}

.main {
	margin-top: 64px;
	position: relative;
}

.main-menu {
	border: 1px solid black;
	width: 260px;
	height: 100%;
	margin-top: 64px;
}

.main-content {
	border: 4px solid red;
	flex-grow: 1;
	height: 100%;
}

#main-box {
	position: relative;
}

.footer {
	width: 100%;
	border: 1px solid black;
}

#result {
	height: 100%;
	width: 100%;
}

#starfield {
  	width:100%;
  	height:100%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}
#gamecontainer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#gamecanvas { 
    width: 800px;
    height: 600px;
}
#info {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* ------- CHALLENGE --------- */

.main-challenge {
	display: flex;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	
}

.main-stages {
	width: 250px;
	min-width: 250px;
	border: 2px solid red;
	padding: 2em;
}

.pratice-challenge {
	flex-grow: 1;
	padding: 2em;
	max-height: calc(100% - 3.95em);
	overflow: auto;
}

.pratice-challenge .container {
	display: flex;
	flex-flow: column;
	min-height: 100%;
}

.pratice-challenge .title {
	font-family: Ubuntu;
	font-weight: bold;
	color: #444;
	padding-bottom: 1.1em;
	width: 85%;
	flex: 0 1 auto;
}

.pratice-challenge .subtitle {
	font-family: Ubuntu;
	font-weight: bold;
	color: #444;
	padding-bottom: 20px;
	flex: 0 1 auto;
}

.pratice-challenge .description {
	text-align: justify;
	font-family: Ubuntu;
	flex: 0 1 auto;
}

.pratice-challenge .pratice {
	border: 1px solid black;
	flex: 1 1 auto;
	margin-top: 1em;
}

.pratice-challenge .pratice .editor {
	border: 1px solid red;
	min-height: 500px;
}

.pratice-challenge .pratice .result {
	border: 1px solid red;
	
}