@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
}

body, html { 
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#root {
    width: 100%;
	height: 100%;
}

.app {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
}

.main {
	margin-top: 64px;
	position: relative;
}

.main-menu {
	border: 1px solid black;
	width: 260px;
	height: 100%;
	margin-top: 64px;
}

.main-content {
	border: 4px solid red;
	flex-grow: 1;
	height: 100%;
}

#main-box {
	position: relative;
}

.footer {
	width: 100%;
	border: 1px solid black;
}

#result {
	height: 100%;
	width: 100%;
}

#starfield {
  	width:100%;
  	height:100%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}
#gamecontainer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#gamecanvas { 
    width: 800px;
    height: 600px;
}
#info {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}