
.split {
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top:0;
}


/* Control the right side */
.right {
  padding:0;
  right: 0;
  background-color: white;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  /* width: 150px; */
  border-radius: 50%;
}

#editor
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
